:root {
--text-color: #dbe4ef;
--card-front-color: #ff00b3;
--card-back-color: #000000;
--cor-da-borda: hsl(320, 100%, 48%);
--cor-fundo-cartao: #ffffff;
}

body {
background-color: rgb(255, 181, 251);
font-family: "Bai Jamjuree", sans-serif;
}

#container {
display: flex;
flex-wrap:wrap;
justify-content: space-between;
padding: 4rem;
gap: 3rem;
}

.cartao {
margin: 1rem 1rem;
height: 20rem;
flex-grow: 1;
flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
cor de fundo: var(--card-front-color);
alinhamento de texto: centro;
altura: 100%;
estilo de transformação: preserve-3d;
transição: transformar 300 ms de facilidade de entrada;
}

.cartao__conteudo h3 {
cor: var(--text-color);
borda: 1px var sólido (--text-color);
alinhamento de texto: esquerda;
preenchimento: 0,5rem;
posição: absoluta;
margem: 0,6rem;
raio da borda: 0,6rem;
tamanho da fonte: 1vw;
visibilidade backface: oculta;
}

.cartao__conteudo p {
margin-top: 1rem;
preenchimento: 2rem;
margem superior: 4rem;
tamanho da fonte: 1,7vw;
}

.cartao__conteudo__pergunta p {
cor: var(--text-color);
peso da fonte: 500;
}

.cartao__conteudo__resposta p {
color: var(--card-back-color);
peso da fonte: 700;
}

.cartao.active .cartao__conteudo {
transform: rotacionarY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
backface-visibility: oculto;
posição: absoluta;
altura: 100%;
largura: 100%;
dimensionamento de caixa: caixa de borda;
}

.cartao__conteudo__resposta {
transform: girarY(180deg);
cor de fundo: var(--cor-fundo-cartão);
borda: 4px var sólido(--cor-da-borda);
}


rodapé {
cor de fundo: preto;
cor:branco;
inferior: 0;
posição: fixa;
largura: 100%;
altura: 2rem;
}

rodapé p {
alinhamento do texto: centro;
tamanho da fonte: 1rem;
margem superior: 0,5rem;

}